#registration-form {
    margin: 24vh auto;
    width: 600px;
    
}

#registration-card {
    background-color: rgba(30, 41, 39, 0.8);
}

.registration {
    font-family: 'Quicksand', sans-serif;
}

.register-button {
    background-color: rgb(179, 199, 0);
    text-shadow: 1px 1px 3px black;
}